.profile-body {
    background-color: rgba(240,240,240,255);
    padding-top: 12vh;
}

.history-videos {
    width: 90vw;
    height: 30vh;
    border-radius: 5px;
    margin-bottom: 10px;
}

.user-info {
    display: flex;
    justify-content: space-around;
}

.user-info h2 {
    margin: 5px;
    font-size: 20px;
}

.info-descriptions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.practice-video-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.practice-videos {
    width: 90vw;
    margin: 20px 0px;
    position: relative;
    z-index: 1;
    border-radius: 5px;
}